// Description: General styles for the entire application
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;

  margin: 0;
  padding: 0;
}

.global {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}
