/* ///////////////////////////// Layout .entete */

.chk__menu {
  display: none;
}

.chk__menu:checked ~ .entete__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .entete__menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}

.entete {
  position: relative;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;

    @media screen and (max-width: $point-rupture) {
      padding: 1rem;
    }
  }

  &__logo {
    width: 75px;
    height: 75px;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 2rem 0 auto;
    

    @media screen and (max-width: $point-rupture) {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #f5f5dc;
      padding: 1rem;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: $point-rupture) {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1000;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;

    @media screen and (max-width: $point-rupture) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
    }
  }

  &__menu-item a {
    display: block;
    padding: 0.75rem 1rem;
    background-color: transparent;
    text-decoration: none;
    color: rgb(186, 77, 29);
    font-weight: 600;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      
    }
  }
}


