/**
/////////////////////////////// Compsant .recherche
*/
/*.recherche {
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  &__input {
    border: none;
    outline: none;
  }
  &__bouton {
    border-left: 1px solid #aaa;
  }
}*/


.recherche {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__input {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__bouton {
    background: none;
    border: none;
    cursor: pointer;
  }
}