.populaire {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__contenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    @media (max-width: $point-rupture) {
      justify-content: center;
    }
    
  }
  &__galerie {
    flex: 1 0 100%;
    margin-bottom: 2rem;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__carte {
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 2px solid rgb(186, 77, 29); 
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc((100% - 4 * 2rem) / 5); // 5 colonnes
    margin-bottom: 2rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.2rem;
      color: #333;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.95rem;
      color: #444;
      margin: 0.3rem 0;
    }

    a {
      color: rgb(186, 77, 29);
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    &__temperature {
      font-weight: bold;
      padding-left: 1rem;
      position: relative;

      &::before {
        content: "🌡️";
        position: absolute;
        left: 0;
      }
    }

    
  }
}
