.populaire {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

   &__titre {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(186, 77, 29);
  }

  &__contenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    @media (max-width: $point-rupture) {
      justify-content: center;
    }
    
  }
  &__galerie {
    flex: 1 0 100%;
    margin-bottom: 2rem;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__carte {
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 2px solid rgb(186, 77, 29); 
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 300px;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
    padding: 10px;

    &:hover {
      transform: translateY(-5px);
    }


    h3 {
      font-size: 1.2rem;
      color: #333;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.95rem;
      color: #444;
      margin: 0.3rem 0;
    }

    a {
      color: rgb(186, 77, 29);
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 1024px) {
      flex: 0 0 calc((100% - 2 * 2rem) / 3); // 3 colonnes
      }

      @media (max-width: $point-rupture) {
      flex: 0 0 calc((100% - 1 * 2rem) / 2); // 2 colonnes
      }
    }

    &__temperature {
      font-weight: bold;
      padding-left: 2rem;
      position: relative;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      // Température minimum ❄️
      &--min::before {
        content: "❄️";
        position: absolute;
        left: 0;
      }

      // Température moyenne 🌤️ (soleil + nuage)
      &--moyenne::before {
        content: "🌤️";
        position: absolute;
        left: 0;
      }

      // Température maximum 🔥
      &--max::before {
        content: "🔥";
        position: absolute;
        left: 0;
      }
    }

    
  }
}
