/* ///////////////////////////// Composant .recherche */

.recherche {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;

  &__input {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: 1px solid rgb(186, 77, 29);
    border-radius: 4px;
  }

  &__bouton {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (max-width: $point-rupture) {
    width: 100%;
    justify-content: center;
    margin: 1rem 0 0;

    &__input {
      flex: 1;
      max-width: 300px;
    }

    &__bouton {
      margin-left: 0.5rem;
    }
  }
}
